.pag {
    width: 10rem;
    height: 2rem;
    justify-content: center;
}

.pagul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.pagbtn{
    display: flex;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}
.pagbtn:hover{
    background-color: rgba(0, 0, 0, 0.877);
    height: 1.6rem;
    width: 1.6rem;
}