.card{
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: rgba(160, 160, 160, 0.788);
    display: flex;
    flex-direction: column;
    
    height: 14.5rem;
    width: 10rem;
    align-items: center;
    margin-left: 2rem;

}

.card:hover{
    height: 15.2rem;
    width: 10.2rem;
    background-color: rgba(100, 101, 102, 0.808);
    transition: all 0.2s;
}

.name{
    margin-top: 0.5rem;
    width: fit-content;
    text-align: center;
    font-size: smaller;
    
}

.diets{
    margin-top: 0.1rem;
    font-size: x-small;
}

.img {
    border-radius: 0.5rem;
    width: 8rem;

}

.id{
    margin-top: 0px;
    margin-right: 5rem;
    font-size: x-small;
}

.btninfo{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(5, 5, 5, 0.397);
    height: 1.5rem;
    width: 3rem;
    text-align: center;
    margin-left: 6rem;
    margin-top: 5px;
    font-weight: 600;
}

.btninfo:hover{
    background-color: rgba(5, 5, 5, 0.582);
}