.card{
      display: flex;
      flex-direction: column;
    /*position: relative; */
    border: 1px solid black;
    border-radius: 0.5rem;
    
    height:34vh;
    width: 13vw;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.781);
    cursor: default;
    transition: all 400ms ease;

}

 .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-3%);
    transition: all 0.2s;
} 

.name{
      display: flex;
   /* position: relative; */
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-self: center;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.808);
     

    width: 13vw;
    height: 4.5rem;
    font-size: smaller;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 0%;

    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /* z-index: 0;  */
    cursor: default;
}


.img {
    display:flex;
    position: relative;
    margin-bottom: 0%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
     z-index: 0;   
  
    width: 100%;
    height: 100%;
    
    
}

/* .id{
    margin-top: 0px;
    margin-right: 5rem;
    font-size: x-small;
} */

.btninfo{
    display: flex;
    position: relative;
    margin-top: 1.4rem;
    border: none;
    background-color:transparent;
    height: 2rem;
    width: 2rem;
    color: rgb(231, 231, 231);
   
}


.link{
    text-decoration: none;
}

.icon{
    height: 1.2rem;
    width: 1.2rem;  
    border-radius: 5rem; 
    
}
.icon:hover{
    transform: translateY(-3%);
    transition: all 0.2s;
    box-shadow: 3px 3px 15px rgba(114, 114, 114, 0.9);
}


.h3{
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
    border-radius: 5px;
    height: fit-content;
    width: 120px;
    font-size: smaller;
    font-weight: 300;
    text-align: center;
    align-self: center;
    z-index: 1; 
    opacity: 0;
    transform: translate(-50px, -40px); 
    transition: transform 0.8s ease, opacity 0.8s ease;
}


.link:hover h3{
    transform: translate(-50px, -50px);
    opacity: 1;
    z-index: 1;
} 