.pag {
    width: 10rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.pagul{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    gap: 1rem;
}
.pagbtn{
    display: flex;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: medium;
    box-shadow: 2px 2px 3px black;
    /* filter: drop-shadow(4px 4px 5px  rgba(114, 114, 114, 0.9)); */
    
}
.pagbtn:hover{
    transform: translateY(-1%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}